[submodule "ConfigParserEnhanced"]
	path = deps/ConfigParserEnhanced
	url = https://github.com/sandialabs/ConfigParserEnhanced.git
	branch = master
[submodule "SetEnvironment"]
	path = deps/SetEnvironment
	url = https://github.com/sandialabs/SetEnvironment.git
	branch = main
[submodule "DetermineSystem"]
	path = deps/DetermineSystem
	url = https://github.com/sandialabs/DetermineSystem.git
	branch = main
[submodule "KeywordParser"]
	path = deps/KeywordParser
	url = https://github.com/sandialabs/KeywordParser.git
	branch = main
